<!DOCTYPE>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>LOSEUM - creatRoom</title>
		<link href="/css/creatRoom.css" rel="stylesheet">
	</head>
	<body>
		<div id="js-loading" class="loading_box" style="display:none;">
			<img src="/images/loading.gif" class="js-loadingGIF loading_box-img">
		</div>
		<div class="gd-layer"></div>
		<div id="js-backLayer" class="black-layer"></div>
		<div class="wrapper">
			<form method="get" action="/setRoomData" id="js-roomInfoForm"></form>
			<ul id="js-configSlider" class="config_slider">
				<li class="name_area area_contents fl js-configSliderItem">
					<div class="area_contents-title">
						<img src="/images/setting_name_title.png">
					</div>
					<div class="name_area-body area_contents-body">
						<div class="set_name">
							<input type="text">
						</div>
					</div>
					<div class="name_area_fooder area_contents-fooder">
						<a href="javascript:void(0);" class="name_area-next js-configSliderNext"><img src="/images/nextButton.png"></a>
					</div>
				</li>
				<li class="how_to_area area_contents fl js-configSliderItem">
					<div class="area_contents-title">
						<img src="/images/setting_howto_title.png">
					</div>
					<div class="how_to_area-body area_contents-body">
						<div class="how_to_area-left fl">
							<img src="/images/test.gif" height="400" class="how_to_gif">
						</div>
						<div class="how_to_area-right fl">
							<p>四角いブロックを設置して美術館の平面図を作成しましょう。</p>
							<p>マスの上をクリックする事でブロックを設置することが出来ます。</p>
							<p>ドラッグで複数マスにまとめてブロックを設置することも可能です。<br/><br/>
							ドーム状の美術館も作れるので試してみましょう。</p>
							<div class="move_btn">
								<a href="javascript:void(0);" class="js-configSliderPrev"><img src="/images/prevButton.png"></a>
								<a href="javascript:void(0);" class="js-configSliderNext"><img src="/images/nextButton_howto.png"></a>
							</div>
						</div>
					</div>
				</li>
				<li id="js-creatWindow" class="creat_area area_contents fl js-configSliderItem">
					<!-- <h2 class="js-gateTitle" style="color: #aa0000">出入り口を決めて下さい</h2> -->
					<!-- <p class="how_to_text">黒い四角が部屋の形になるよ。</p>
					<p class="how_to_text">全部の黒い四角が隣り合ってないとダメだよ。斜めもアカン。</p>-->
					<div class="creat_area_edit">
						<div class="creat_area-body area_contents-body cf">
							<div id="js-squaresTool" class="room_tool fl">
								<table class="room_tool-body">
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox is-selected"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
									<tr class="room_tool-row js-squaresToolRow">
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
										<td class="room_tool-box square_tool-box js-squaresToolBox"></td>
									</tr>
								</table>
							</div>
							<div id="js-domeTool" class="room_tool fl is-hidden">
								<table class="room_tool-body">
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
									<tr class="room_tool-row js-domeToolRow">
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
										<td class="room_tool-box js-roomToolBox"></td>
									</tr>
								</table>
								<div class="js-domeToolRoom room_tool_dome"></div>
							</div>
							<div class="room_config fl">
								<p>高さ<input type="number" value="2" min="1" max="10" class="height_config js-roomHeight" />&nbsp;m</label></p>
								<p class="dome_options js-roomOptions is-disabled">
									<input type="checkbox" name="height js-roomOptionsCheck" value="1" id="sphereHeight"><label for="sphereHeight" id="js-domeOptions" class="check js-roomOptionsLabel">部屋の形をドーム状にする</label><br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;直径<input type="number" value="6" min="1" max="10" class="radius_config js-roomRadius is-disabled" disabled="disabled" />&nbsp;m</label>
								</p>
								<div class="move_btn">
									<a href="javascript:void(0);" class="js-configSliderPrev"><img src="/images/prevButton.png"></a>
									<a href="javascript:void(0);" id="js-allClear"><img src="/images/selectClearBtn.png"></a>
									<a href="javascript:void(0);" id="js-complete" class="js-configSliderNext"><img src="/images/nextButton.png"></a>
								</div>
								<!-- <p class="js-roomOptions is-disabled"></p> -->
							</div>
						</div>
					</div>
				</li>
				<li id="js-resultWindow" class="result_area area_contents fl js-configSliderItem">
					<h2>この形にしますか？</h2>
					<a href="javascript:void(0);" id="js-ok"><img src="/images/completeBtn.png"></a>
					<a href="javascript:void(0);" id="js-return" class="image_button js-configSliderPrev"><img src="/images/returnBtn.png"></a>
				</li>
			</ul>
			<div id="js-roomView" class="room_view is-hidden">
			</div>
		</div>
		<!-- あとでけす -->
		<script type="text/javascript">
			var USER_ID = 'testID';
		</script>
		<script src="/js/three.min.js"></script>
		<script src="/js/creatRoom.js"></script>
	</body>
</html>