<!DOCTYPE>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>LOSEUM - EDIT</title>
		<link href="/css/edit.css" rel="stylesheet">
	</head>
	<body>
		<!-- <img src="/images/loseumLogo.png" id="logo"> -->
		<div id="js-loading" class="loading_box">
			<img src="/images/loading.gif" class="js-loadingGIF loading_box-img">
		</div>
		<div id="js-textureWindow" class="alert_area">
			<div class="alert_area_box js-textureBox">
				<h2>texture</h2>
				<div class="alert_area_inner">
					<ul class="texture_contents js-textureList cf">
					</ul>
					<form method="post" name="texture" enctype="multipart/form-data" action="/uploadTexture" id="js-textureForm" class="js-uplaodTexture">
						テクスチャをアップロード<input type="file" name="texture">
					</form>
					<input type="button" value="テクスチャを使用" id="js-setTexture">
				</div>
			</div>
			<div class="alert_area_backlayer js-textureWindowClose"></div>
		</div>
		<div id="js-header" class="header">
			<ul class="global-menu fl">
				<li class="global-menu-list fl js-globalMenuList" rel="js-uploadWork">キャンバス生成</li>
				<li class="global-menu-list fl js-globalMenuList" rel="js-make3dText">テキスト生成</li>
			</ul>
			<div class="stage-name m-auto"></div>
		</div>
		<div id="js-settingArea">
			<div id="js-uploadWork" class="objSettingArea js-objSettingArea">
				<form method="post" name="image" enctype="multipart/form-data" action="/uploadWork" id="js-imageForm" class="js-uplaodWorkFile">
					YOUR WORKS:
					<input type="file" name="image">
				</form>
			</div>
			<div id="js-make3dText" class="objSettingArea js-objSettingArea">
				TEXT:<input type="text" placeholder="make 3Dtext" id="js-3dText">
				SIZE:<input type="number" value="8" id="js-3dTextSize">
				COLOR:<input type="color" value="0xff0000" id="js-3dTextMainColor">
				SUB COLOR:<input type="color" value="0x000088" id="js-3dTextSubColor">
				<input type="button" value="生成" id="js-makeText">
			</div>
			<div id="js-roomConfig" class="objSettingArea js-objSettingArea">
				ROOM GEOMETRY:
				<select id="js-roomGeometry">
					<option value="box">四角い部屋</option>
					<option value="sphere">丸い部屋</option>
				</select>
				ROOM TEXTURE:
				<input type="file" name="texture">
			</div>
		</div>
		<div id="js-objectManager" class="objectManager">
			<h3 class="objectManagerTitle">OBJECT MANAGER</h3>
			<ul class="objectList js-objectList">
			</ul>
		</div>
		<div id="field">
		</div>
		<!-- あとでけす -->
		<script type="text/javascript">
			var USER_ID = 'testID';
		</script>
		<script src="/js/three.min.js"></script>
		<script src="/js/MTLLoader.js"></script>
		<script src="/js/OBJMTLLoader.js"></script>
		<script src="/js/helvetiker_bold.typeface.js"></script>
		<script src="/js/edit.js"></script>
	</body>
</html>