<!DOCTYPE>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>LOSEUM - TOP</title>
		<link href="/css/top.css" rel="stylesheet">
	</head>
	<body>
		<div id="js-loading" class="loading_box">
			<img src="/images/loading.gif" class="js-loadingGIF loading_box-img">
		</div>
		<img src="/images/loseumLogo.png" id="logo">
		<a href="javascript:void(0);" id="js-enter" class="enter_img"><img src="/images/enter.png"></a>
		<div id="blackOut"></div>
		<div id="gd-layer"></div>
		<div id="field">
		</div>
		<script src="/js/three.min.js"></script>
		<script src="/js/MTLLoader.js"></script>
		<script src="/js/OBJMTLLoader.js"></script>
		<script src="/js/perlin-noise-simplex.js"></script>
		<script src="/js/top.js"></script>
	</body>
</html>