<!DOCTYPE>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>LOSEUM - roomList </title>
		<link href="/css/roomList.css" rel="stylesheet">
	</head>
	<body>
		<div id="js-loading" class="loading_box" style="display:none;">
			<img src="/images/loading.gif" class="js-loadingGIF loading_box-img">
		</div>
		<div class="wrapper">
			
		</div>
		<!-- あとでけす -->
		<script type="text/javascript">
			var USER_ID = 'testID';
		</script>
		<script src="/js/three.min.js"></script>
		<script src="/js/roomList.js"></script>
	</body>
</html>