* {
  margin: 0px;
  padding: 0px;
  text-align: center; }

.alert_area {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 3; }
  .alert_area .alert_area_box {
    position: relative;
    z-index: 5;
    top: 60px;
    margin: auto;
    width: 1060px;
    overflow: hidden;
    background-color: #ccc; }
    .alert_area .alert_area_box .alert_area_inner {
      padding: 10px;
      margin: auto;
      background: #ddd; }
      .alert_area .alert_area_box .alert_area_inner .texture_contents {
        height: 400px;
        padding: 10px;
        margin: auto;
        position: relative;
        z-index: 1;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
        overflow: scroll; }
      .alert_area .alert_area_box .alert_area_inner .texture_list {
        list-style: none;
        width: 200px;
        height: 200px;
        background-color: #fafafa;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        position: relative;
        z-index: -1;
        margin-bottom: 5px;
        margin-left: 5px;
        cursor: pointer; }
      .alert_area .alert_area_box .alert_area_inner .texture_list:first-child {
        margin-left: 0px; }
      .alert_area .alert_area_box .alert_area_inner .texture_list:nth-child(6n) {
        margin-left: 0px; }
      .alert_area .alert_area_box .alert_area_inner .texture_list:hover {
        background-color: #f0f0f0;
        box-shadow: 0px 0px 1px #ccc; }
      .alert_area .alert_area_box .alert_area_inner .is-textureSelected {
        background-color: #cfffff !important; }
  .alert_area .alert_area_backlayer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 4;
    background-color: #000;
    opacity: 0.5; }

.loading_box {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #111111;
  line-height: 500px;
  color: #dddddd;
  z-index: 6; }
  .loading_box .loading_box-img {
    margin: auto;
    display: block;
    margin-top: 130px; }

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background: #dfdfdf;
  z-index: 5;
  line-height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .header .stage-name {
    width: 250px; }
  .header .global-menu .global-menu-list {
    height: 42px;
    width: 150px;
    line-height: 42px;
    border: #bfbfbf;
    margin: 4px 0px 5px 10px;
    cursor: pointer; }
    .header .global-menu .global-menu-list:hover {
      opacity: 0.5; }

.objSettingArea {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  background: #aabbbb;
  z-index: 4; }

.is-selected {
  background-color: #ffcccc !important; }

.is-hidden {
  display: none !important; }

.objectManager {
  position: relative;
  top: 50px;
  float: right;
  height: 400px;
  width: 300px;
  z-index: 2;
  background-color: #aaaaaa;
  overflow: scroll;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .objectManager .objectManagerTitle {
    width: 300px;
    height: 34px;
    line-height: 34px;
    background-color: #dddddd;
    font-weight: normal;
    font-size: 16px; }
  .objectManager .objectList .objectInfo {
    margin-top: 3px;
    list-style: none;
    height: 40px;
    width: 300px;
    background-color: #cccccc; }
    .objectManager .objectList .objectInfo .hide {
      background-color: #ffddcc;
      height: 40px;
      width: 40px; }
    .objectManager .objectList .objectInfo .name {
      width: 260px;
      height: 40px;
      line-height: 40px;
      background-color: #dfdfdf;
      overflow: hidden; }
      .objectManager .objectList .objectInfo .name:hover {
        opacity: 0.4; }
  .objectManager .objectList .objectInfo:first-child {
    margin-top: 0px; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden; }

.m-auto {
  margin: auto; }

#field {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1; }
