.loading_box {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #111111;
  line-height: 500px;
  color: #dddddd;
  z-index: 6; }
  .loading_box .loading_box-img {
    margin: auto;
    display: block;
    margin-top: 130px; }
