$max: 100%;
$half: 50%;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	// color: #333;
}

html, body {
	height: $max;
	width: $max;
	overflow:hidden;
}

/* todo:なんかまとめてモジュール化したい */
// numberのデザイン
input[type=number] {
	width:40px ;
	height:25px;
	padding:0 1px;
	font-size: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border:#a9a9a9 1px solid;
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
}
// checkboxのデザイン
input[type=checkbox] {
	display: none;
}
input[type=checkbox]:checked + .check:before {
	opacity: 1;
}
.check {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0 0 0 30px;
	vertical-align: middle;
	cursor: pointer;
}
.check:hover:after {
	border-color: #27d2ff;
}
.check:after {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	margin-top: -12px;
	width: 18px;
	height: 18px;
	border: 2px solid #bbb;
	border-radius: 3px;
	content: '';
}
.check:before {
	position: absolute;
	top: 50%;
	left: 7px;
	display: block;
	margin-top: -9px;
	width: 5px;
	height: 10px;
	border-right: 3px solid #2C9AB7;
	border-bottom: 3px solid #2C9AB7;
	transform: rotate(45deg);
	content: '';
	opacity: 0;
}

.fl {
	float: left;
}

.cf:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;
  clear: both; 
  visibility:hidden;
}

.is-hidden {
	display: none;
}

.is-disabled {
	color: #afafaf;
}

.wrapper {
	height: $max;
	width: $max;
	// background-image: url('/images/cosmo_texture.jpg');
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.black-layer {
	height: $max;
	width: $max;
	position: absolute;
	z-index: 10;
	background-color: #000;
}

.loading_box {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #111111;
	color: #dddddd;
	z-index: 6;
	.loading_box-img {
		margin: auto;
		display: block;
		margin-top: 160px;
	}
}

.gd-layer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	height: 100%;
	width: 100%;
	opacity: 0.7;
	background: url(/images/top-gd.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.config_slider {
	height: $max;
	width: 6000px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.area_contents {
	position: relative;
	z-index: 3;
	height: $max;
	width: 1280px;
	a:hover {
		opacity: 0.6;
	}
	.area_contents-title {
		margin-top: 50px;
		text-align: center;
	}
	.area_contents-body {
		overflow: hidden;
		// height: 330px;
	}
	.area_contents-fooder {
		text-align: center;
		margin: auto;
	}
}

.name_area {
	.name_area-body {
		margin-top: 150px;
		.set_name {
			margin: auto;
			width: 600px;
			input {
				border:0;
				padding:5px;
				font-size:24px;
				font-family:Arial, sans-serif;
				color:#999;
				border:solid 10px #cfcfcf;
				background-color: #f9f7f7;
				margin:0 0 20px;
				width:600px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				-moz-box-shadow: 2px 2px 10px #777;
				-webkit-box-shadow: 2px 2px 10px #777;
				box-shadow: 2px 2px 10px #777;
			}
			input:focus {
				outline: none;
		    border:solid 10px #afafaf;
			}
		}
	}
	.name_area_fooder {
		margin-top: 200px;
	}
}

.how_to_area {
	color: #656565;
	.how_to_area-body {
		height: 700px;
		.how_to_area-left {
			padding: 60px 0px 0px 100px;
			img {
				margin: 0px 0px 0px 50px;
				border: solid 1px #333;
				-moz-box-shadow: 2px 2px 10px #777;
				-webkit-box-shadow: 2px 2px 10px #777;
				box-shadow: 2px 2px 10px #777;
			}
		}
		.how_to_area-right {
			height: 400px;
			width: 600px;
			padding: 60px 0px 0px 40px;
			text-align: center;
			.move_btn {
				margin-top: 250px;
				a {
					margin-left: 40px;
				}
				a:first-child {
					margin-left: 0px;
				}
			}
		}
	}
}

.creat_area {
	padding: 70px 0px 0px 0px;
	.creat_area_edit {
		height: $max;
		width: 1190px;
		margin: auto;
		.room_config {
			width: 500px;
			overflow: hidden;
			text-align: left;
			padding: 20px 0px 0px 80px;
			p {
				margin-top: 20px;
			}
			.move_btn {
				margin-top: 250px;
				a {
					margin-left: 40px;
				}
				a:first-child {
					margin-left: 0px;
				}
			}
			.dome_options {
				height: 120px;
			}
		}
		.room_tool {
			position: relative;
			width: 500px;
			height: 500px;
			margin: auto auto auto 60px;
			padding: 0px 0px 200px 0px;
			.room_tool-body {
				border-collapse: collapse;
				-moz-box-shadow: 6px 6px 20px #777;
				-webkit-box-shadow: 6px 6px 20px #777;
				box-shadow: 6px 6px 20px #777;
			}
			.room_tool-box {
				position: relative;
				height: 50px;
				width: 50px;
				background-color: #ddd;
				border: solid 1px #999;
				box-sizing: border-box;
			}
			
			.square_tool-box {
				cursor: pointer;
			}
			.square_tool-box:hover {
				z-index: 5;
				-moz-box-shadow: 10px 10px 6px #333;
				-webkit-box-shadow: 10px 10px 6px #333;
				box-shadow: 0px 0px 6px #333;
			}

			.is-selected {
				background-color: #333;
			}
			.room_tool_dome {
				height: 300px;
				width: 300px;
				// margin: 100px;
				background-color: #333;
				border-radius: 1000px;
				position: absolute;
				top: 0px;
				left: 0px;
			}
		}
	}

	.move_btn {
		a {
			margin-left: 40px;
		}
		a:first-child {
			margin-left: 0px;
		}
	}
}

.result_area {
	text-align: center;
	.image_button {
		margin-left: 40px;
	}
}

.room_view {
	position: relative;
	z-index: 1;
	height: 40%;
	width: 40%;
	margin: 100px auto;
}
