* {
	margin: 0px;
	padding: 0px;
	text-align: center;
};

html, body {
	width: 100%;
	height: 100%;
};

a {
  color: #00B7FF;
};

.enter_img {
	position: absolute;
	z-index: 5;
	bottom: 50px;
	&:hover {
		opacity: 0.6;
	}
}

#logo {
	display: block;
	margin: auto;
	position: relative;
	z-index: 5;
}

.loading_box {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #111111;
	color: #dddddd;
	z-index: 6;
	.loading_box-img {
		margin: auto;
		display: block;
		margin-top: 160px;
	}
}

#blackOut {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	height: 100%;
	width: 100%;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}

#gd-layer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	height: 100%;
	width: 100%;
  background: url(/images/top-gd.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#field {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 1;
};
